In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\Jack.Hayes\.vscode\Anaconda\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < 200].index.tolist()

In [37]:
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, 'Other')

In [38]:
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts < 1000].index.tolist()

In [39]:
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, 'Other')

In [40]:
application_df_encoded = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'CLASSIFICATION'])

In [41]:
X = application_df_encoded.drop('IS_SUCCESSFUL', axis=1)
y = application_df_encoded['IS_SUCCESSFUL']

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [44]:
numeric_features = X.select_dtypes(include=['float64', 'int64']).columns
non_numeric_features = X.select_dtypes(include=['object']).columns

In [45]:
scaler = StandardScaler()
X_train_scaled_numeric = scaler.fit_transform(X_train[numeric_features])
X_test_scaled_numeric = scaler.transform(X_test[numeric_features])

In [47]:
X_train_scaled_array = X_train_scaled.values.astype(np.float32)
y_train_array = y_train.astype(np.float32).values

In [52]:
# Build a Sequential model
optimized_model = tf.keras.models.Sequential()

# Input layer
optimized_model.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=X_train_scaled.shape[1]))

# Hidden layers
optimized_model.add(tf.keras.layers.Dropout(0.5))
optimized_model.add(tf.keras.layers.Dense(units=64, activation='relu'))
optimized_model.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Output layer
optimized_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Compile the model
optimized_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Display the model summary
optimized_model.summary()

# Train the model with early stopping
early_stopping = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
history = optimized_model.fit(X_train_scaled_array, y_train_array, epochs=50, batch_size=32, validation_split=0.2, callbacks=[early_stopping])

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_36 (Dense)            (None, 128)               1024

 dropout_11 (Dropout)        (None, 128)               0

 dense_37 (Dense)            (None, 64)                8256

 dense_38 (Dense)            (None, 32)                2080

 dense_39 (Dense)            (None, 1)                 33

=================================================================
Total params: 11393 (44.50 KB)
Trainable params: 11393 (44.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [13]:
X_train_encoded = pd.get_dummies(X_train, columns=['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train_encoded)

# Scale the data
X_train_scaled = X_scaler.transform(X_train_encoded)
X_test_encoded = pd.get_dummies(X_test, columns=['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
X_test_encoded = X_test_encoded.reindex(columns=X_train_encoded.columns, fill_value=0)
X_test_scaled = X_scaler.transform(X_test_encoded)

In [28]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping

In [29]:
optimized_model = Sequential()

In [35]:
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

optimized_model = Sequential()
optimized_model.add(Dense(units=128, activation='relu', input_dim=X_train_encoded.shape[1]))
optimized_model.add(Dropout(0.5))
optimized_model.add(Dense(units=64, activation='relu'))
optimized_model.add(Dense(units=32, activation='relu'))
optimized_model.add(Dense(units=1, activation='sigmoid'))

optimized_model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), loss='binary_crossentropy', metrics=['accuracy'])

history = optimized_model.fit(X_train_encoded, y_train, epochs=50, batch_size=32, validation_split=0.2, callbacks=[early_stopping])

Epoch 1/50
686/686 [==============================] - 2s 2ms/step - loss: 26457.9570 - accuracy: 0.4930 - val_loss: 407800.7812 - val_accuracy: 0.5171
Epoch 2/50
686/686 [==============================] - 1s 2ms/step - loss: 86796.1250 - accuracy: 0.4934 - val_loss: 16161.5820 - val_accuracy: 0.4829
Epoch 3/50
686/686 [==============================] - 1s 2ms/step - loss: 37563.1758 - accuracy: 0.4844 - val_loss: 169981.5000 - val_accuracy: 0.5171
Epoch 4/50
686/686 [==============================] - 1s 2ms/step - loss: 24326.0605 - accuracy: 0.5033 - val_loss: 233.7271 - val_accuracy: 0.6317
Epoch 5/50
686/686 [==============================] - 1s 2ms/step - loss: 27966.2148 - accuracy: 0.4900 - val_loss: 70878.9141 - val_accuracy: 0.5171
Epoch 6/50
686/686 [==============================] - 1s 2ms/step - loss: 16169.0088 - accuracy: 0.4942 - val_loss: 241.7447 - val_accuracy: 0.4829
Epoch 7/50
686/686 [==============================] - 1s 2ms/step - loss: 12703.2188 - accuracy: 0.4967 - val_loss: 368.4076 - val_accuracy: 0.5171
Epoch 8/50
686/686 [==============================] - 1s 2ms/step - loss: 13295.1045 - accuracy: 0.4905 - val_loss: 14856.7979 - val_accuracy: 0.5171
Epoch 9/50
686/686 [==============================] - 1s 2ms/step - loss: 11298.1045 - accuracy: 0.4964 - val_loss: 3063.6833 - val_accuracy: 0.4829
Epoch 10/50
686/686 [==============================] - 1s 2ms/step - loss: 24782.3594 - accuracy: 0.4848 - val_loss: 3205.6702 - val_accuracy: 0.5171
Epoch 11/50
686/686 [==============================] - 1s 2ms/step - loss: 10735.3857 - accuracy: 0.4970 - val_loss: 763.2585 - val_accuracy: 0.4829
Epoch 12/50
686/686 [==============================] - 1s 2ms/step - loss: 10496.4209 - accuracy: 0.5046 - val_loss: 1813.5503 - val_accuracy: 0.4829
Epoch 13/50
686/686 [==============================] - 1s 2ms/step - loss: 9262.0762 - accuracy: 0.4948 - val_loss: 7426.6587 - val_accuracy: 0.5171
Epoch 14/50
686/686 [==============================] - 1s 2ms/step - loss: 2991.8218 - accuracy: 0.5013 - val_loss: 176.7958 - val_accuracy: 0.4911
Epoch 15/50
686/686 [==============================] - 1s 2ms/step - loss: 2542.3711 - accuracy: 0.4936 - val_loss: 10947.4541 - val_accuracy: 0.5171
Epoch 16/50
686/686 [==============================] - 1s 2ms/step - loss: 2273.3896 - accuracy: 0.5024 - val_loss: 197.2429 - val_accuracy: 0.4909
Epoch 17/50
686/686 [==============================] - 1s 2ms/step - loss: 1873.3793 - accuracy: 0.5084 - val_loss: 143.2408 - val_accuracy: 0.4914
Epoch 18/50
686/686 [==============================] - 1s 2ms/step - loss: 754.8574 - accuracy: 0.5166 - val_loss: 1.3938 - val_accuracy: 0.5171
Epoch 19/50
686/686 [==============================] - 1s 2ms/step - loss: 794.2579 - accuracy: 0.5240 - val_loss: 1.1054 - val_accuracy: 0.5171
Epoch 20/50
686/686 [==============================] - 1s 2ms/step - loss: 94.5449 - accuracy: 0.5308 - val_loss: 0.8981 - val_accuracy: 0.5171
Epoch 21/50
686/686 [==============================] - 1s 2ms/step - loss: 94.1067 - accuracy: 0.5335 - val_loss: 0.7670 - val_accuracy: 0.5171
Epoch 22/50
686/686 [==============================] - 1s 2ms/step - loss: 13.8406 - accuracy: 0.5339 - val_loss: 0.7120 - val_accuracy: 0.5171
Epoch 23/50
686/686 [==============================] - 1s 2ms/step - loss: 12.1057 - accuracy: 0.5344 - val_loss: 0.6975 - val_accuracy: 0.5171
Epoch 24/50
686/686 [==============================] - 1s 2ms/step - loss: 3.6672 - accuracy: 0.5340 - val_loss: 0.6946 - val_accuracy: 0.5171
Epoch 25/50
686/686 [==============================] - 1s 2ms/step - loss: 682.3215 - accuracy: 0.5366 - val_loss: 0.6935 - val_accuracy: 0.5171
Epoch 26/50
686/686 [==============================] - 1s 2ms/step - loss: 105.8275 - accuracy: 0.5310 - val_loss: 0.6933 - val_accuracy: 0.5171
Epoch 27/50
686/686 [==============================] - 1s 2ms/step - loss: 6.6008 - accuracy: 0.5325 - val_loss: 0.6935 - val_accuracy: 0.5171
Epoch 28/50
686/686 [==============================] - 1s 2ms/step - loss: 29.0939 - accuracy: 0.5351 - val_loss: 0.6931 - val_accuracy: 0.5171
Epoch 29/50
686/686 [==============================] - 1s 2ms/step - loss: 0.7754 - accuracy: 0.5357 - val_loss: 0.6935 - val_accuracy: 0.5171
Epoch 30/50
686/686 [==============================] - 1s 2ms/step - loss: 1.1105 - accuracy: 0.5357 - val_loss: 0.6933 - val_accuracy: 0.5171
Epoch 31/50
686/686 [==============================] - 1s 2ms/step - loss: 0.8290 - accuracy: 0.5361 - val_loss: 0.6934 - val_accuracy: 0.5171
Epoch 32/50
686/686 [==============================] - 1s 2ms/step - loss: 16.5352 - accuracy: 0.5356 - val_loss: 0.6933 - val_accuracy: 0.5171
Epoch 33/50
686/686 [==============================] - 1s 2ms/step - loss: 2.3995 - accuracy: 0.5353 - val_loss: 0.6934 - val_accuracy: 0.5171
Epoch 34/50
686/686 [==============================] - 1s 2ms/step - loss: 1.1535 - accuracy: 0.5356 - val_loss: 0.6933 - val_accuracy: 0.5171
Epoch 35/50
686/686 [==============================] - 1s 2ms/step - loss: 0.7949 - accuracy: 0.5356 - val_loss: 0.6933 - val_accuracy: 0.5171
Epoch 36/50
686/686 [==============================] - 2s 2ms/step - loss: 0.7478 - accuracy: 0.5356 - val_loss: 0.6933 - val_accuracy: 0.5171
Epoch 37/50
686/686 [==============================] - 1s 2ms/step - loss: 0.6942 - accuracy: 0.5357 - val_loss: 0.6932 - val_accuracy: 0.5171
Epoch 38/50
686/686 [==============================] - 1s 2ms/step - loss: 0.6960 - accuracy: 0.5355 - val_loss: 0.6934 - val_accuracy: 0.5171